version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for the dev container
  - package-ecosystem: "devcontainer"
    directory: "/"
    schedule:
      interval: "weekly"
