repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.14.2
    hooks:
      - id: ruff-check
        # We exclude all __init__.py files, since we use wildcard imports, etc.
        exclude: '^brian2/tests/.*$|^brian2/.*__init__[.]py$'
        files: '^brian2/.*\.pyi?$'
        args: ['--fix']
      - id: ruff-format
        files: '^brian2/.*\.pyi?$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: codemeta.json  # json.dump does not add a newline at the end
      - id: trailing-whitespace

  - repo: https://github.com/mpalmer/action-validator
    rev: v0.7.0
    hooks:
      - id: action-validator
