name: Update metadata after release

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        # Give the default GITHUB_TOKEN write permission to commit and push the
        # added or changed files to the repository.
        contents: write
        pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true  # Needed to push changes back to the repository
          fetch-depth: 0
          fetch-tags: true
      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
      - name: Install dependencies
        run: python -m pip install cffconvert pyaml ruamel.yaml requests
      - name: Update metadata
        run: python dev/continuous-integration/update_zenodo_swh.py
      - name: Verify CITATION.cff
        run: cffconvert --validate
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          delete-branch: true
          branch: update-metadata-post-release
          title: Update CITATION.cff and README.md with metadata from Zenodo/SWH
          commit-message: |
            Update CITATION.cff and README.md with metadata from Zenodo/SWH

            [ci skip]
