name: TestSuite

on: [push, pull_request]

permissions:
  contents: read

jobs:
  get_python_versions:
    name: "Determine Python versions"
    runs-on: ubuntu-latest
    permissions: {}
    outputs:
      min-python: ${{ steps.nep29.outputs.min-python }}
      max-python: ${{ steps.nep29.outputs.max-python }}
    steps:
      - name: "calculate versions according to SPEC-0"
        id: nep29
        uses: mstimberg/github-calc-nep29@a73481e4e8488a5fa0b3be70a385cc5206a261ba # v0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Match SPEC-0
          deprecate-python-after: 36
          min-python-releases: 0

  pre-commit:
    name: Run linters with pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: .devcontainer/dev-requirements.txt
      - name: Install deps
        run: pip3 install -r .devcontainer/dev-requirements.txt
      - name: Run pre-commit hooks
        run: pre-commit run --all-files --show-diff-on-failure

  testing:
    needs: [get_python_versions, pre-commit]
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os.image }}"
    runs-on: ${{ matrix.os.image }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            { image: windows-2022, triplet: x64-windows },
          ]
        python-version: ["${{ needs.get_python_versions.outputs.max-python }}"]

    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Fetch tags
        run: git fetch --tags --force origin
      - name: Install Python
        id: python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          cache: "pip"
          python-version: ${{ matrix.python-version }}
      - name: Install Brian2 and dependencies
        env:
          PYTHON_BINARY: ${{ steps.python.outputs.python-path }}
        run: |
          "$PYTHON_BINARY" -m pip install .[test]

      - name: Run Benchmarks
        run: |
          cd  $GITHUB_WORKSPACE/dev && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false && \
          "$PYTHON_BINARY" benchmark_connect.py true && \
          "$PYTHON_BINARY" benchmark_connect.py false
        env:
          PYTHON_BINARY: ${{ steps.python.outputs.python-path }}
