name: Test against latest dependencies

on:
  schedule:
    - cron:  '25 5 * * SUN'
  workflow_dispatch:

jobs:
  get_python_versions:
    name: "Determine Python versions"
    runs-on: ubuntu-latest
    outputs:
      min-python: ${{ steps.nep29.outputs.min-python }}
      max-python: ${{ steps.nep29.outputs.max-python }}
    steps:
      - name: "calculate versions according to NEP29"
        id: nep29
        uses: mstimberg/github-calc-nep29@v0.6
        with:
          include-release-candidates: true
          include-beta-releases: true
          token: ${{ secrets.GITHUB_TOKEN }}
  
  testing:
    needs: [get_python_versions]
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os.image }} (standalone: ${{ matrix.standalone }}, 32bit: ${{ matrix.float_dtype_32 }})"
    runs-on: ${{ matrix.os.image }}
    strategy:
      fail-fast: false
      matrix:
        os: [{image: ubuntu-latest, triplet: x64-linux},
             {image: windows-latest, triplet: x64-windows},
             {image: macOS-latest, triplet: x64-osx}]
        standalone: [false, true]
        float_dtype_32: [false, true]
        python-version: ["${{ needs.get_python_versions.outputs.max-python }}"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install GSL
        uses: johnwason/vcpkg-action@v5
        id: vcpkg
        with:
          pkgs: gsl
          triplet: ${{ matrix.os.triplet }}
          cache-key: gsl-${{ matrix.os.triplet }}
          revision: master
          token: ${{ github.token }}
      - name: Install Python
        id: python
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install dependencies
        run: |
          ${{ steps.python.outputs.python-path }} -m pip install --upgrade pip
          ${{ steps.python.outputs.python-path }} -m pip install --pre pytest cython sympy pyparsing numpy jinja2 scipy sphinx
      - name: Install Brian2
        run: ${{ steps.python.outputs.python-path }} -m pip install .
      - name: Run Tests
        run: |
          cd  $GITHUB_WORKSPACE/.. # move out of the workspace to avoid direct import
          ${{ steps.python.outputs.python-path }} -Wd $GITHUB_WORKSPACE/dev/continuous-integration/run_test_suite.py
        env:
          DEPRECATION_ERROR: true
          AGENT_OS: ${{runner.os}}
          STANDALONE: ${{ matrix.standalone }}
          FLOAT_DTYPE_32: ${{ matrix.float_dtype_32 }}